In [1]:
!cd ../data && tar xfzv ptt_gossiping_push.tar.gz

ptt_gossiping_push.txt

In [2]:
ls ../data

ptt_gossiping_push.tar.gz  ptt_gossiping_push.txt

In [3]:
with open("../data/ptt_gossiping_push.txt","r") as rf:
    texts = map(lambda xx:xx.decode("utf8"),rf.read().split("\n"))

In [4]:
texts[:10]

[u'9.2\u9019\u592a\u6545\u610f\u4e86',
 u'\u65fa\u4e2d\u84c4\u610f\u6311\u64a5  \u4e3b\u5b50\u53c8\u53d7\u8fb1  O\u8ff7\u770b\u5f97\u597d\u5fc3\u75bc',
 u'\u4e2d\u6642\u7684\u6c11\u8abf\u5be6\u5728\u662f\u6c92\u6709\u5206\u6790\u7684\u50f9\u503c \u5f88\u591a\u6c11\u8abf\u90fd\u505a\u904e\u8a87\u5f35\u7684',
 u'\u8abf\u6574 \u4f46\u662f\u6709\u4e9b\u6c92\u6709 \u6574\u9ad4\u4f86\u8aaa\u5206\u6790\u81ea\u7531tvbs\u58f9\u96fb\u8996\u9019\u4e09\u5bb6',
 u'\u7684\u5c31\u5920\u4e86',
 u'\u4e0d\u6562\u76f8\u4fe1\u9019\u662f\u65fa\u65fa\u4e2d\u6642\u505a\u7684\u6c11\u8abf',
 u'\u73fe\u5728\u5c11\u5eb7\u6230\u60c5\u5ba4\u5df2\u7d93\u5feb\u6bd4\u65fa\u4e2d\u7684\u65b0\u805e\u548c\u7bc0\u76ee\u9084\u53ef\u7b11\u4e86',
 u'\u4e2d\u5929\u88ab\u76dc\u5e33\u865f\uff1f\uff1f\uff1f',
 u'\u5783\u573e\u80a5\u83ca\u6191\u4ec0\u9ebc\u6eff\u610f\u5ea6\u6108\u4f86\u6108\u9ad8  \u88dc\u500b\u5e79',
 u'\u554a\u4e0d\u5c31\u597d\u5e78\u798f']

In [5]:
import pandas as pd
from chisel.samplers import ngram

In [6]:
win_size = 10
col_names = map(lambda xx:"w%s" % xx, range(1,win_size+1))

dfs = []
for text in texts[:10000]:
    df = pd.DataFrame(ngram(text,win_size,with_complete_tail=True),columns=col_names)
    dfs.append(df)

total_df = pd.concat(dfs)

In [7]:
summary = total_df.groupby(["w1","w2","w3"]).size()
summary.sort(ascending=False)
df = summary.reset_index()
cols = df.columns.tolist()
cols[-1] = "n"
df.columns = cols

In [8]:
df.head()

  w1 w2 w3     n
0  .  .  .  2120
1           1615
2  .         732
3  .  .      699
4  !  !  !   670

In [9]:
df.query("w1 == 'T' & w3 == 'T'")

      w1 w2 w3  n
3416   T  _  T  4
8336   T  口  T  2
38410  T  K  T  1
38465  T  A  T  1
38525  T  &  T  1