In [1]:
!cd ../data && tar xfzv ptt_gossiping_push.tar.gz

ptt_gossiping_push.txt

In [2]:
ls ../data

ptt_gossiping_push.tar.gz  ptt_gossiping_push.txt

In [3]:
with open("../data/ptt_gossiping_push.txt","r") as rf:
    texts = map(lambda xx:xx.decode("utf8"),rf.read().split("\n"))

In [4]:
texts[:10]

[u'9.2\u9019\u592a\u6545\u610f\u4e86',
 u'\u65fa\u4e2d\u84c4\u610f\u6311\u64a5  \u4e3b\u5b50\u53c8\u53d7\u8fb1  O\u8ff7\u770b\u5f97\u597d\u5fc3\u75bc',
 u'\u4e2d\u6642\u7684\u6c11\u8abf\u5be6\u5728\u662f\u6c92\u6709\u5206\u6790\u7684\u50f9\u503c \u5f88\u591a\u6c11\u8abf\u90fd\u505a\u904e\u8a87\u5f35\u7684',
 u'\u8abf\u6574 \u4f46\u662f\u6709\u4e9b\u6c92\u6709 \u6574\u9ad4\u4f86\u8aaa\u5206\u6790\u81ea\u7531tvbs\u58f9\u96fb\u8996\u9019\u4e09\u5bb6',
 u'\u7684\u5c31\u5920\u4e86',
 u'\u4e0d\u6562\u76f8\u4fe1\u9019\u662f\u65fa\u65fa\u4e2d\u6642\u505a\u7684\u6c11\u8abf',
 u'\u73fe\u5728\u5c11\u5eb7\u6230\u60c5\u5ba4\u5df2\u7d93\u5feb\u6bd4\u65fa\u4e2d\u7684\u65b0\u805e\u548c\u7bc0\u76ee\u9084\u53ef\u7b11\u4e86',
 u'\u4e2d\u5929\u88ab\u76dc\u5e33\u865f\uff1f\uff1f\uff1f',
 u'\u5783\u573e\u80a5\u83ca\u6191\u4ec0\u9ebc\u6eff\u610f\u5ea6\u6108\u4f86\u6108\u9ad8  \u88dc\u500b\u5e79',
 u'\u554a\u4e0d\u5c31\u597d\u5e78\u798f']

In [5]:
from chisel.dev import *

In [6]:
P = NgramModelProbability().learning_from_texts(texts[:10000])

# $$P(w1, w2, w3, \ldots, w_n, \ldots)$$

In [7]:
P("T")

0.00087339952569553741

In [8]:
P("T","_")

2.4261097935987093e-05

In [9]:
P("T","_") / P("T")

0.02777777777777771

In [10]:
P("T","_","T")

2.4261097935987093e-05

In [11]:
P("T","_","T") / P("T","_")

1.0

In [12]:
P = NgramModelProbabilityV2().learning_from_texts(texts[:10000])

# $$P(w1, w2, w3)$$

In [13]:
P("w1","w2","w3")._ngram_jp_df.head(10)

  w1 w2 w3         p
0  .  .  .  0.012858
1           0.009795
2  .        0.004440
3  .  .     0.004240
4  !  !  !  0.004064
5  ?        0.002584
6  ~  ~  ~  0.002408
7  了        0.002135
8  D        0.002099
9  !        0.002086

# $$P(w2|w1)$$

In [14]:
P("w2",w1=u"T")._ngram_jp_df.head()

  w2 w1         p
0  T  T  0.076389
1     T  0.069444
2  的  T  0.062500
3  E  T  0.055556
4     T  0.055556

# $$P(w3|w1 ,w2)$$

In [15]:
P("w3",w1=u"T",w2="_")._ngram_jp_df.head()

  w3 w2 w1  p
0  T  _  T  1

# $$P(w2|w1 ,w3)$$

In [16]:
P("w2",w1=u"T",w3="T")._ngram_jp_df.head()

  w2 w3 w1         p
0  _  T  T  0.444444
1  口  T  T  0.222222
2  &  T  T  0.111111
3  A  T  T  0.111111
4  K  T  T  0.111111